
/* Your CSS Code here. */
body{
     font-family: Arial, sans-serif;
	padding:20px;
}

img{
     margin-top:20px;
	margin-right:50px;
	width: 300px;
    border-radius: 8px;
}
h2{
 text-decoration:underline;
}

#projects{
  list-style-type:disc;	
}

li:hover{
    color:blueviolet;
}
